* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.imgHomePage {
    width: 500px;
    height: 550px;
    border-radius: 20px;
}
.a-custom {
    color: black; /* Màu văn bản đen */
    text-decoration: none; /* Loại bỏ gạch dưới */
    transition: color 0.3s; /* Hiệu ứng chuyển đổi màu khi hover */
}

/* In đậm văn bản khi rê chuột vào */
.a-custom:hover {
    font-weight: bold; /* In đậm văn bản */
    color: #333; /* Thay đổi màu văn bản khi hover */
}
.navCustom {
    background-color: aliceblue;
    box-shadow: 0px 2px 5px #888888;
}
.box-img {
    width: 100%;
    height: 700px; /* Đảm bảo tỷ lệ khung hình được bảo tồn */
    overflow: hidden; /* Ẩn các nội dung bên ngoài khung hình */
}

.box-img img {
    width: 100%; /* Hình ảnh chiếm toàn bộ chiều rộng của phần tử cha */
    height: 700px; /* Đảm bảo tỷ lệ khung hình được bảo tồn */
    display: block; /* Đảm bảo hình ảnh hiển thị đúng cách */
}

.windows8 {
    position: relative;
    width: 74px;
    height: 74px;
    margin: auto;
}

.windows8 .wBall {
    position: absolute;
    width: 70px;
    height: 70px;
    opacity: 0;
    transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    animation: orbit 5.1425s infinite;
    -o-animation: orbit 5.1425s infinite;
    -ms-animation: orbit 5.1425s infinite;
    -webkit-animation: orbit 5.1425s infinite;
    -moz-animation: orbit 5.1425s infinite;
}

.windows8 .wBall .wInnerBall {
    position: absolute;
    width: 9px;
    height: 9px;
    background: rgb(0, 0, 0);
    left: 0px;
    top: 0px;
    border-radius: 9px;
}

.windows8 #wBall_1 {
    animation-delay: 1.126s;
    -o-animation-delay: 1.126s;
    -ms-animation-delay: 1.126s;
    -webkit-animation-delay: 1.126s;
    -moz-animation-delay: 1.126s;
}

.windows8 #wBall_2 {
    animation-delay: 0.223s;
    -o-animation-delay: 0.223s;
    -ms-animation-delay: 0.223s;
    -webkit-animation-delay: 0.223s;
    -moz-animation-delay: 0.223s;
}

.windows8 #wBall_3 {
    animation-delay: 0.4465s;
    -o-animation-delay: 0.4465s;
    -ms-animation-delay: 0.4465s;
    -webkit-animation-delay: 0.4465s;
    -moz-animation-delay: 0.4465s;
}

.windows8 #wBall_4 {
    animation-delay: 0.6695s;
    -o-animation-delay: 0.6695s;
    -ms-animation-delay: 0.6695s;
    -webkit-animation-delay: 0.6695s;
    -moz-animation-delay: 0.6695s;
}

.windows8 #wBall_5 {
    animation-delay: 0.903s;
    -o-animation-delay: 0.903s;
    -ms-animation-delay: 0.903s;
    -webkit-animation-delay: 0.903s;
    -moz-animation-delay: 0.903s;
}

@keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        transform: rotate(180deg);
        animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        transform: rotate(300deg);
        animation-timing-function: linear;
        origin: 0%;
    }

    30% {
        opacity: 1;
        transform: rotate(410deg);
        animation-timing-function: ease-in-out;
        origin: 7%;
    }

    39% {
        opacity: 1;
        transform: rotate(645deg);
        animation-timing-function: linear;
        origin: 30%;
    }

    70% {
        opacity: 1;
        transform: rotate(770deg);
        animation-timing-function: ease-out;
        origin: 39%;
    }

    75% {
        opacity: 1;
        transform: rotate(900deg);
        animation-timing-function: ease-out;
        origin: 70%;
    }

    76% {
        opacity: 0;
        transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        transform: rotate(900deg);
    }
}

@-o-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -o-transform: rotate(180deg);
        -o-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -o-transform: rotate(300deg);
        -o-animation-timing-function: linear;
        -o-origin: 0%;
    }

    30% {
        opacity: 1;
        -o-transform: rotate(410deg);
        -o-animation-timing-function: ease-in-out;
        -o-origin: 7%;
    }

    39% {
        opacity: 1;
        -o-transform: rotate(645deg);
        -o-animation-timing-function: linear;
        -o-origin: 30%;
    }

    70% {
        opacity: 1;
        -o-transform: rotate(770deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 39%;
    }

    75% {
        opacity: 1;
        -o-transform: rotate(900deg);
        -o-animation-timing-function: ease-out;
        -o-origin: 70%;
    }

    76% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -o-transform: rotate(900deg);
    }
}

@-ms-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -ms-transform: rotate(180deg);
        -ms-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -ms-transform: rotate(300deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 0%;
    }

    30% {
        opacity: 1;
        -ms-transform: rotate(410deg);
        -ms-animation-timing-function: ease-in-out;
        -ms-origin: 7%;
    }

    39% {
        opacity: 1;
        -ms-transform: rotate(645deg);
        -ms-animation-timing-function: linear;
        -ms-origin: 30%;
    }

    70% {
        opacity: 1;
        -ms-transform: rotate(770deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 39%;
    }

    75% {
        opacity: 1;
        -ms-transform: rotate(900deg);
        -ms-animation-timing-function: ease-out;
        -ms-origin: 70%;
    }

    76% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -ms-transform: rotate(900deg);
    }
}

@-webkit-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -webkit-transform: rotate(180deg);
        -webkit-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -webkit-transform: rotate(300deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 0%;
    }

    30% {
        opacity: 1;
        -webkit-transform: rotate(410deg);
        -webkit-animation-timing-function: ease-in-out;
        -webkit-origin: 7%;
    }

    39% {
        opacity: 1;
        -webkit-transform: rotate(645deg);
        -webkit-animation-timing-function: linear;
        -webkit-origin: 30%;
    }

    70% {
        opacity: 1;
        -webkit-transform: rotate(770deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 39%;
    }

    75% {
        opacity: 1;
        -webkit-transform: rotate(900deg);
        -webkit-animation-timing-function: ease-out;
        -webkit-origin: 70%;
    }

    76% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -webkit-transform: rotate(900deg);
    }
}

@-moz-keyframes orbit {
    0% {
        opacity: 1;
        z-index: 99;
        -moz-transform: rotate(180deg);
        -moz-animation-timing-function: ease-out;
    }

    7% {
        opacity: 1;
        -moz-transform: rotate(300deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 0%;
    }

    30% {
        opacity: 1;
        -moz-transform: rotate(410deg);
        -moz-animation-timing-function: ease-in-out;
        -moz-origin: 7%;
    }

    39% {
        opacity: 1;
        -moz-transform: rotate(645deg);
        -moz-animation-timing-function: linear;
        -moz-origin: 30%;
    }

    70% {
        opacity: 1;
        -moz-transform: rotate(770deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 39%;
    }

    75% {
        opacity: 1;
        -moz-transform: rotate(900deg);
        -moz-animation-timing-function: ease-out;
        -moz-origin: 70%;
    }

    76% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }

    100% {
        opacity: 0;
        -moz-transform: rotate(900deg);
    }
}

.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
}

@media (min-width: 1025px) {
    .h-custom-2 {
        height: 100%;
    }
}

/* .fc-col-header-cell-cushion{
    text-decoration: none;
}
.fc-daygrid-day-number{
    text-decoration: none;
}
.fc-toolbar-title {
    text-transform: capitalize;
    text-align: center;
  } */

.card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
        0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
        0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
        0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}
.l-bg-cherry {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
}

.l-bg-blue-dark {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
}

.l-bg-green-dark {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
}

.l-bg-orange-dark {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas,
.card .card-statistic-3 .card-icon-large .far,
.card .card-statistic-3 .card-icon-large .fab,
.card .card-statistic-3 .card-icon-large .fal {
    font-size: 110px;
}

.card .card-statistic-3 .card-icon {
    text-align: center;
    line-height: 50px;
    margin-left: 15px;
    color: #000;
    position: absolute;
    right: -5px;
    top: 20px;
    opacity: 0.1;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

.l-bg-green {
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
    color: #fff;
}

.l-bg-orange {
    background: linear-gradient(to right, #f9900e, #ffba56) !important;
    color: #fff;
}

.l-bg-cyan {
    background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
    color: #fff;
}

pagination_rounded,
.pagination_square {
    display: inline-block;
    margin-left: 400px;
    margin-top: 300px;
}

.pagination_rounded ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pagination_rounded li:first-child {
    margin-left: 0px;
}

.pagination_rounded ul li {
    float: left;
    margin-left: 20px;
}

.pagination_rounded ul li a:hover {
    background: #4285f4;
    color: #fff;
    border: 1px solid #4285f4;
}

a:link {
    text-decoration: none;
}

.pagination_rounded .prev {
    margin-left: 0px;
    border-radius: 35px;
    width: 90px;
    height: 34px;
    line-height: 34px;
}

.pagination_rounded ul li a {
    float: left;
    color: #4285f4;
    border-radius: 50%;
    line-height: 30px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid #e0e0e0;
}

.pagination_rounded .prev i {
    margin-right: 10px;
}

.pagination_rounded .next {
    border-radius: 35px;
    width: 90px;
    height: 34px;
    line-height: 34px;
}

.visible-xs {
    display: none !important;
}

.form-order {
    border: #0cba4f solid 1px;
}

/* Định nghĩa animation phóng to */
@keyframes scale-up {
    from {
        transform: scale(0); /* Bắt đầu từ 0, tức là không hiển thị */
        opacity: 0; /* Bắt đầu từ hoàn toàn trong suốt */
    }
    to {
        transform: scale(
            1
        ); /* Kết thúc bằng cách phóng to tới kích thước bình thường */
        opacity: 1; /* Kết thúc bằng cách hoàn toàn không trong suốt */
    }
}

/* Áp dụng animation cho các thành phần có class animation-scale */
.animation-scale {
    animation-name: scale-up;
    animation-duration: 2s; /* Thời gian chạy animation là 2 giây */
    animation-timing-function: ease-out; /* Làm cho chuyển động chậm dần về cuối */
    animation-fill-mode: both; /* Giữ trạng thái cuối của animation */
}

.map {
    width: 100%;
    height: 100%;
}

.contact-buttons {
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 1000;
}

.zalo-button,
.call-button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
    background-color: white;
    color: black;
    text-align: center;
}

.zalo-button img,
.call-button img {
    width: 50px;
}

.zalo-button {
    animation: shadowPulse 0.2s infinite alternate;
}

@keyframes shadowPulse {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 30px 10px rgba(0, 128, 255, 0.7); /* Bóng đổ màu xanh cho Zalo */
    }
}

.call-button {
    animation: shadowPulseCall 0.2s infinite alternate;
}

@keyframes shadowPulseCall {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 0 0 30px 10px rgba(244, 27, 27, 0.7); /* Bóng đổ màu xanh lá cho nút gọi điện */
    }
}

#bar-progress {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

#bar-progress .step {
    display: inline-block;
}

#bar-progress .step .number-container {
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    width: 24px;
    height: 24px;
}

#bar-progress .step.step-active .number-container {
    background-color: #198754;
}

#bar-progress .step .number-container .number {
    font-weight: 700;
    font-size: 0.8em;
    line-height: 1.75em;
    display: block;
    text-align: center;
}

#bar-progress .step.step-active .number-container .number {
    color: white;
}

#bar-progress .step h5 {
    display: inline;
    font-weight: 100;
    font-size: 0.8em;
    margin-left: 10px;
    text-transform: uppercase;
}

#bar-progress .seperator {
    display: block;
    width: 20px;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto 20px;
}

.order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg, #ffb64d, #ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg, #ff5370, #ff869a);
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
